@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    background-color: #E4EBF5;
}

.title {
    color: #6d5dfc;
    text-align: center;
    font-size: 2vw;
}
.container {
    width: 100%;
    justify-content: center;
    display: flex;
}

.flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    cursor: pointer;
    margin-top: 10px;
    width: 40vw;
    height: 40vw;
}

.flex:after {
    padding-bottom: 40%;
}


/* .launch {
  border: 1px solid black;
  box-shadow: none;
  appearance: none;
  background-color: #E4EBF5;
  height: 45px;
  padding: 0 30px;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(.2, 3, .4, 1);
  font-family: 'Raleway', sans-serif; 
}*/

/* .launch:hover {
    transform: scale(1.1, 1.1);
}

.launch:active {
    transform: scale(1.05, 1.05);
} */

.cases {
    border-radius: 1rem;
    box-shadow: inset .2rem .2rem .5rem #c8d0e7, 
    inset -.2rem -.2rem .5rem #FFFFFF;
    font-size: 10vw;
    text-align: center;
    color: #A16FFC;
}


.launch {
    font-family: 'Raleway', sans-serif;
    width: 7.5rem;
    height: 2rem;
    border-radius: 1rem;
    border: 0;
    color: #394A56;
    background-color: #E4EBF5;
    transition: 0.5s ease-in-out;
    /* box-shadow: .3rem .3rem .6rem #c8d0e7, 
    -.2rem -.2rem .5rem #FFFFFF; */
    box-shadow:
      -8px -4px 8px 0px #FFFFFF,
      8px 4px 12px 0px #c8d0e7;
}


.launch:hover {
    color: #6d5dfc; 
}

.launch:active {
    box-shadow: inset .2rem .2rem .5rem #c8d0e7, 
    inset -.2rem -.2rem .5rem #FFFFFF;
}


.btn {
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.radiocontainer {
    align-items: center;
    justify-content: center;
    display: flex;
}

.state {
    opacity: 1e-5;
    pointer-events: none;
  }
  
  .label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #394a56;
  }
  
  .text {
    margin-left: 16px;
    opacity: .6;
    transition: opacity .2s linear, transform .2s ease-out;
  }
  
  .indicator {
    position: relative;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    box-shadow:
      -8px -4px 8px 0px #ffffff,
      8px 4px 12px 0px #d1d9e6;
    overflow: hidden;
  }
  
  .indicator::before,
  .indicator::after {
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    border-radius: 50%;
  }
  
  .indicator::before {
    box-shadow:
      -4px -2px 4px 0px #d1d9e6,
      4px 2px 8px 0px #fff;
  }
  
  .indicator::after {
    background-color: #E4EBF5;
    box-shadow:
      -4px -2px 4px 0px #fff,
      4px 2px 8px 0px #d1d9e6;
    transform: scale3d(1, 1, 1);
    transition: opacity .25s ease-in-out, transform .25s ease-in-out;
  }
  
  .state:checked ~ .label .indicator::after {
    transform: scale3d(.975, .975, 1) translate3d(0, 10%, 0);
    opacity: 0;
  }
  .label:hover .text {
    opacity: 1;
  }
